[Desktop Entry]
Name=Plectrm
Comment=ASCII Tab Editor
Exec=plectrm %U
Icon=plectrm
Type=Application
Categories=Office;AudioVideo;
StartupWMClass=plectrm
