* {
    box-sizing: border-box;
}

*::selection{
    color: var(--color-light-primary);
    background: var(--color-blue);
}

@font-face{
    font-family: FantasqueSansMono;
    src: url('../build/fonts/FantasqueSansMono-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: CarroisGothic;
    src: url('../build/fonts/CarroisGothic-Regular.ttf') format('truetype');
    font-display: swap;
}

html{
    font-size: 14px;
    background-color: var(--color-dark-primary);
}

body{
    margin: 0;
    font-family: 'CarroisGothic', Segoe UI, system-ui, sans-serif;
    letter-spacing: 0.02rem;
    text-rendering: optimizeLegibility;
    font-synthesis: weight;
    overflow: hidden;
    --color-dark-primary: #1d2021;
    --color-dark-secondary: #343434;
    --color-dark-tertiary: #3c3836;
    --color-light-primary: #EBE1D3;
    --color-light-secondary:#BCB4A9;
    --color-light-tertiary: #64605A;
    --color-brown: #312616;
    --color-red: #BB4D3A;
    --color-red-dark: #743327;
    --color-blue: #689A9D;
    --color-blue-dark: #557C7E;
}

.appContainer{
    background: var(--color-dark-primary);
    height: 100vh;
    width: 100vw;
}

.appContent{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-secondary) transparent;
    padding: 1em;
}

.appFooter{
    position: absolute;
    inset: auto 0 0 0;
    margin: auto;
    margin-bottom: 1em;
    width: fit-content;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    z-index: 2;
}

.ribbonContainer {
    display: flex;
    flex: 1;
    width: fit-content;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-dark-primary);
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.1s ease-in-out;
    gap: 0.5rem;
}

.ribbonButton{
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 0.5rem;
    justify-content: center;
    aspect-ratio: 1/1;
    color: var(--color-light-primary);
}

.ribbonButton:hover{
    background-color: var(--color-dark-secondary);
}

.ribbonButton:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.ribbonButton svg{
    width: 50%;
    height: 50%;
}

.ribbonSplitDropdown{
    background-color: transparent;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    aspect-ratio: 1.4 / 1;
}

.ribbonSplitDropdownButton{
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 0.5rem;
    justify-content: center;
    aspect-ratio: 1/1;
    color: var(--color-light-primary);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.ribbonSplitDropdownButton:hover{
    background-color: var(--color-dark-secondary);
}

.ribbonSplitDropdownButton:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.ribbonSplitDropdownButton svg{
    width: 50%;
    height: 50%;
}

.ribbonSplitDropdownDropdown{
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 0.5rem;
    justify-content: center;
    min-width: 1em;
    width: 100%;
    color: var(--color-light-primary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}

.ribbonSplitDropdownDropdown:hover{
    background-color: var(--color-dark-secondary);
}

.ribbonSplitDropdownDropdown:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.ribbonSplitDropdownDropdown svg{
    width: 80%;
    height: 100%;
}

.exportButton{
    display: flex;
    transition: all 80ms ease-in-out;
    aspect-ratio: 1 /1;
    border-radius: 1rem;
    background-color: var(--color-dark-primary);
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: var(--color-light-primary);
}

.exportButton svg{
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
}

.exportButton:hover{
    background-color: var(--color-dark-secondary);
}

.exportButton:active{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.workspaceContainer{
    font-family: 'FantasqueSansMono';
    height: fit-content;
    min-height: 110em;
    width: 80em;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--color-light-primary);
    border: 1px solid #555;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
    transition: box-shadow 0.1s ease-in-out,
                filter 0.2s ease-out;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.2));
    position: static;
    margin: auto;
    margin-top: 1em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.workspaceContainer:focus{
    border: 1px solid #555;
    outline: 0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    filter: drop-shadow(0 0 10px rgba(255,255,255,0));
}

.postWorkspaceBlankspace{
    width: calc(100% - 8em);
    height: 20vh;
}

.foreground{
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    transition: backdrop-filter 240ms ease-out;
    display: flex;
    align-items: center;
    background-color: color-mix(in srgb, var(--color-dark-primary) 0%, transparent);
}

.foreground.active{
    pointer-events: all;
    backdrop-filter: blur(4px);
    background-color: color-mix(in srgb, var(--color-dark-primary) 90%, transparent);
}

.prototypeContainer{
    position: relative;
    z-index: auto;
    background-color: transparent;
    display: grid;
    border-radius: 1rem;
    box-shadow: 0 0 0px rgba(0,0,0,0);
    transition:
        all 120ms ease-in-out;
    padding: 0.5rem;
    min-height: 1em;
    width: fit-content;
    margin: 0em;
    color: #282828;
    transform: scale(100%);
    backdrop-filter: 0;
}

.prototypeContainer:hover{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.prototypeContainer.hover{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.prototypeContainer:focus-within{
    outline: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.prototypeContainer.dragged{
    z-index: 50;
    background-color: rgba(var(--color-light-primary), 0.8);
    outline: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    backdrop-filter: saturate(80%) brightness(93%) blur(4px);
    transition: all 0ms linear;
}

.prototypeContainer.dragged:not(.dragHandle) div{
    pointer-events: none;
}

.prototypeContainer.glowAbove{
    box-shadow: 0px -4px 6px color-mix(in srgb, var(--color-light-secondary) 50%, transparent);
    margin-top: 0.5em;
}

.prototypeContainer.glowBelow{
    box-shadow: 0px 4px 6px color-mix(in srgb, var(--color-light-secondary) 50%, transparent);
    margin-bottom: 0.5em;
}

.prototypeContainer.stave{
    grid-template-columns: 2em auto;
}

.prototypeContainer.stave.articulated{
    grid-template-columns: 2em auto;
    grid-template-rows: auto 1em;
    row-gap: 0;
}

.prototypeContainer.text{
    grid-template-columns: 2em auto;
}

.prototypeContainer.legend{
    grid-template-columns: 2em auto;
}

.prototypeContainer:hover .contextMenu{
    opacity: 100%;
}

.prototypeContainer.hover .contextMenu{
    opacity: 100%;
}

.prototypeContainer.dragged .contextMenu{
    opacity: 100%;
}

.contextMenu{
    min-height: 1em;
    height: 100%;
    width: 2em;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    opacity: 0%;
    transition: all 120ms ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    clip-path: fill-box;
}

.dragHandle{
    color: var(--color-light-secondary);
    width: 2em;
    min-height: 1em;
    max-height: 1.5em;
    height: min(100%, 1.5em);
    text-align: center;
    align-content: center;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: 0;
    transition: all 120ms ease-in-out;
}

.dragHandle:hover{
    color: var(--color-light-tertiary);
    background-color: var(--color-light-secondary);
    border: 0;
}

.dragHandle:active{
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
    border: 0;
    cursor: grabbing;
}

.dragHandle.forceActive{
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
    border: 0;
    cursor: grabbing;
}

.dragHandle svg{
    width: 100%;
    height: 100%;
}

.deleteButton{
    color: var(--color-light-secondary);
    width: 2em;
    min-height: 1em;
    max-height: 1.5em;
    height: min(100%, 1.5em);
    text-align: center;
    align-items: center;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
    border: 0;
    transition: all 120ms ease-in-out;
    display: none;
}

.deleteButton:hover{
    color: var(--color-light-tertiary);
    background-color: var(--color-light-secondary);
}

.deleteButton.show{
    display: flex;
}

.deleteButton svg{
    width: 100%;
    height: 60%;
}

.deleteButton.confirmDelete{
    color: #f9f5d7;
    background-color: var(--color-red);
}

.deleteButton.confirmDelete:active{
    color: #f9f5d7;
    background-color: var(--color-red-dark);
}

.staveBox{
    height: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto 0.8rem;
    grid-template-rows: 100%;
    align-content: center;
}

.staveGrid{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    padding: 0.1rem 0;
    gap: 0px 0px;
    line-height: 1em;
    white-space: pre;
    user-select: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.5em;
}

.cellHighlight{
    position: absolute;
    white-space: normal;
    width: 1em;
    height: 1em;
    background-color: var(--color-light-secondary);
    color: var(--color-light-primary);
    opacity: 0%;
    text-align: center;
    outline: 2px solid var(--color-light-secondary);
}

.staveGrid:hover div.cellHighlight{
    opacity: 100%;
}

.staveGridCell{
    background-color: transparent;
    font-size: larger;
    width: 1em;
    height: 1em;
    text-align: center;
    user-select: none;
    transition: all 50ms ease-in-out;
}

.staveGridCell.highlight{
    background-color: var(--color-light-secondary);
    z-index: 0;
}

.staveGridCell.highlight:hover:not(.focus){
    background-color: var(--color-light-tertiary);
    z-index: 2;
}

.staveGridCell:hover{
    background-color: var(--color-light-secondary);
    z-index: 2;
}

.staveGridCell.focus{
    background-color: var(--color-blue);
    z-index: 3;
}

.staveGridCell.focus:hover{
    background-color: var(--color-blue-dark);
    z-index: 3;
}

.staveTuningContainer{
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    width: fit-content;
    padding: 0.1rem 0.1rem;
    user-select: none;
    cursor: pointer;
    transition: all 70ms ease-in-out;
    background-color: transparent;
    align-content: center;
}

.staveTuningContainer:active{
    background-color: var(--color-light-secondary);
}

.staveEnd{
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    width: fit-content;
    user-select: none;
    cursor: col-resize;
    transition: all 70ms ease-in-out;
    background-color: transparent;
    text-align: center;
    align-content: center;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.staveEnd.focus{
    background-color: var(--color-light-secondary);
}

.staveArticulationContainer{
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr;
    padding-left: 1.08em;
}

.hoverHelper{
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 999;
    width: 20rem;
    height: 8rem;
    top: -5rem;
    left: -8.5rem;
    border-radius: 0;
    clip-path: polygon(50% 60%, 100% 60%, 50% 100%, 0 60%);
}

.hoverHelper.hidden{
    pointer-events: none;
    opacity: 0%;
}

.hoverHelper.shown{
    pointer-events: all;
    opacity: 100%;
}

.hoverMenu{
    color: var(--color-light-tertiary);
    opacity: 0%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    top: 1.5em;
    left: 0;
    transition: opacity 160ms ease-in-out, background-color 80ms ease-in-out, color 80ms ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
}

.hoverMenu:hover{
    cursor: pointer;
    background-color: var(--color-light-secondary);
}

.hoverMenu:active{
    cursor: pointer;
    color: var(--color-light-primary);
    background-color: var(--color-light-tertiary);
}

.hoverMenu.hidden{
    pointer-events: none;
    opacity: 0%;
    filter: blur(4px);
}

.hoverMenu.shown{
    pointer-events: all;
    opacity: 100%;
    filter: blur(0px);
}

.articulationCell{
    color: var(--color-light-secondary);
}

.articulationCell.highlight:hover:not(.focus){
    background-color: var(--color-light-tertiary);
    z-index: 2;
}

.articulationCell:hover{
    background-color: var(--color-light-secondary);
    color: var(--color-light-primary);
    z-index: 2;
}

.articulationCell.focus{
    background-color: var(--color-blue);
    color: var(--color-light-primary);
    z-index: 3;
}

.articulationCell.focus:hover{
    background-color: var(--color-blue-dark);
    color: var(--color-light-primary);
    z-index: 3;
}

.textBox{
    margin: 0 0.3rem;
    font-family: 'FantasqueSansMono', monospace;
    min-height: 1em;
    min-width: 8em;
    background-color: transparent;
    border: 0px;
    cursor: text;
    height: fit-content;
    align-self: center;
    line-height: 1.5em;
    white-space: pre-line;
}

.textBox:empty::before{
    content: 'type here...';
    color: var(--color-light-secondary);
}

.textBox:not(:empty)::before{
    content: '';
}

.textBox:focus-visible{
    outline: 0;
}

.notationLegend{
    margin: 0 0.3rem;
    font-family: 'FantasqueSansMono', monospace;
    min-height: 1em;
    min-width: 8em;
    background-color: transparent;
    border: 0px;
    height: fit-content;
    align-self: center;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    user-select: none;
    transition: all 80ms ease-in-out;
}

.notationLegend div.divider{
    height: 100%;
    width: 100%;
}

.notationLegend div.entriesContainer{
    min-height: 1em;
    display: flex;
    flex-direction: column;
    transition: all 80ms ease-in-out;
}

.entriesContainer div.entry{
    display: flex;
    flex-direction: row;
    transition: all 80ms ease-in-out;
}

.entriesContainer div.entry:focus-within{
    background-color: var(--color-light-secondary);
}

.entry span{
    color: var(--color-dark-primary);
    box-shadow: inset 0 0 10px 1px transparent;
    pointer-events: all;
    cursor: default;
    background-color: transparent;
    padding: 0 0.2rem;
    user-select: text;
    outline: 0px solid var(--color-light-primary);
}

.entry span:hover{
    background-color: var(--color-light-secondary);
}

.entry span:focus-visible{
    outline: 1px dashed var(--color-light-secondary);
    background-color: var(--color-light-primary);
    cursor: auto;
}

.entry span#symbol{
    width: 3rem;
}

.entry span#description{
    width: 80%;
}

.entriesContainer div.newEntry{
    order: 999;
    pointer-events: all;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    transition: all 80ms ease-in-out;
    height: 0px;
}

.notationLegend:hover div.newEntry{
    pointer-events: all;
    cursor: pointer;
    color: var(--color-light-secondary);
    height: 1.1rem;
}

.entriesContainer div.newEntry:hover{
    color: var(--color-light-primary);
    background-color: var(--color-light-secondary);
}

.entriesContainer div.newEntry:active{
    background-color: var(--color-blue);
}


.transientInputContainer{
    display: flex;
    background-color: var(--color-dark-primary);
    border: 1px solid var(--color-dark-secondary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: var(--color-light-primary);
    border-radius: 1rem;
    position:absolute;
    transform: translate(0px, 0px);
    flex-direction: column;
    gap: 0.1em;
    left: 0;
    top: 0;
    z-index: 9;
    max-width: 20rem;
}

.transientItem{
    z-index: 10;
    background-color: transparent;
    min-width: 1em;
    min-height: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
}

.transientItem:first-of-type{
    padding: 1em 1em 0.5em 1em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.transientItem:last-of-type{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.transientItem.transientInput{
    max-width: 100%;
    transition: all 80ms ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}

.transientItem.transientInput:hover{
    background-color: var(--color-dark-secondary);
}

.transientItem.transientInput:focus{
    background-color: var(--color-dark-tertiary);
}

.transientItem.transientInput::before{
    color: var(--color-light-tertiary);
    content: '> ';
    font-size: 1em;
    vertical-align: middle;
}

.transientItem.transientInput:focus::before{
    color: var(--color-light-primary);
}

.transientItem.transientInput:focus-visible{
    outline: 0;
}

.transientItem.transientInput.error::before{
    content: 'x ';
    color: var(--color-red);
}

.transientItem.transientInput.error:focus{
    background-color: var(--color-red-dark);
}

.transientItem.transientButton{
    user-select: none;
    cursor: pointer;
}

.transientItem.transientButton:hover{
    background-color: var(--color-dark-secondary);
}

.transientItem.transientButton:active{
    background-color: var(--color-dark-tertiary);
}

.transientItem.transientLabel{
    user-select: none;
}

.transientItem.transientLabel:first-of-type{
    font-weight: bold;
}

.transientItem.transientDivisor{
    width: 100%;
    min-height: 1px;
    height: 1px;
    background: var(--color-dark-tertiary);
    padding: 0;
    margin: 0.5em 0;
}

.transientItem.end{
    width: 100%;
    height: 0.5rem;
    background: var(--color-dark-primary);
    padding: 0;
}


.startscreen-container{
    margin: auto;
    width: fit-content;
    height: fit-content;
    max-width: 80vw;
    max-height: 90vh;
    border: 1px solid var(--color-dark-secondary);
    background-color: var(--color-dark-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: var(--color-light-primary);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-dark-secondary) transparent;
    transition: filter 160ms ease-in-out;
    filter: 0;
    opacity: 100%;
}

.startscreen-container h1{
    color: var(--color-light-primary);
    font-size: 2rem;
    user-select: none;
    font-weight: 400;
    margin: 0;
}

.startscreen-container h2{
    color: var(--color-light-primary);
    font-size: 1rem;
    user-select: none;
    font-weight: 400;
    margin: 0;
}

.startscreen-container.hidden{
    filter: blur(30px) brightness(20%);
    opacity: 0%;
    pointer-events: none;
}

.logo-container{
    color: var(--color-blue);
    height: 18rem;
}

.menu-container{
    background-color: var(--color-dark-primary);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.menuButton{
    height: 10rem;
    background-color: var(--color-dark-primary);
    transition: all 80ms ease-in-out;
    border: 1px solid var(--color-dark-secondary);
    border-radius: 0.5rem;
    justify-content: center;
    aspect-ratio: 1/1;
    color: var(--color-light-primary);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 0.9rem;
    user-select: none;
}

.menuButton:hover:enabled{
    background-color: var(--color-dark-secondary);
}

.menuButton:active:enabled{
    border: 1px solid var(--color-light-tertiary);
    background-color: var(--color-dark-tertiary);
}

.menuButton:disabled{
    color: var(--color-dark-secondary);
    cursor: not-allowed;
}

.menuButton svg{
    max-width: 60%;
    margin: auto;
}
